@* @rendermode InteractiveServer

<div class="row g-2 mb-3">
    <!-- Four default search boxes -->
    <div class="col-md-3 position-relative">
        <input class="form-control search-box" placeholder="Search by Case Code" @bind="searchcasecode" @oninput="@(e => OnSearchChanged(e, "CaseCode"))" />
        <button class="search-btn" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="col-md-3 position-relative">
        <input class="form-control search-box" placeholder="Search by Client" @bind="searchTermClient" @oninput="@(e => OnSearchChanged(e, "Client"))" />
        <button class="search-btn" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="col-md-3 position-relative">
        <input class="form-control search-box" placeholder="Search by Tenant" @bind="searchTermTenant" @oninput="@(e => OnSearchChanged(e, "Tenant"))" />
        <button class="search-btn" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="col-md-3 d-flex align-items-center">
        <button id="advToggleButton" class="btn btn-outline-secondary adv-btn w-100" data-bs-toggle="collapse" data-bs-target="#advancedFilters" aria-expanded="false"
                aria-controls="advancedFilters">
            Advanced  <span id="advIcon">▼</span>
        </button>

    </div>
</div>

<!-- Advanced Filters -->
<div class="collapse mb-3" id="advancedFilters">
    <div class="row g-2">
        <div class="col-md-3 position-relative">
            <input class="form-control search-box" placeholder="Search by LandLord" @bind="searchTermLandLord" @oninput="@(e => OnSearchChanged(e, "Landlord"))" />
            <button class="search-btn" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-md-3 position-relative">
            <input class="form-control search-box" placeholder="Search by Reason Holdover" @bind="searchTermResonHoldover" @oninput="@(e => OnSearchChanged(e, "ReasonHoldover"))" />
            <button class="search-btn" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="col-md-3 position-relative">
            <input class="form-control search-box" placeholder="Search by Action Date" @bind="searchTermDate" @oninput="@(e => OnSearchChanged(e, "ActionDate"))" />
            <button class="search-btn" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-md-3 position-relative">
            <input class="form-control search-box" placeholder="Search by Status" @bind="searchTermStatus" @oninput="@(e => OnSearchChanged(e, "Status"))" />
            <button class="search-btn" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>

    </div>
</div>

 *@