@using EvictionFiler.Application.DTOs.MarshalsDto
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Client.SpinnerService
@inject IJSRuntime JS
@inject SpinnerService spinnerservice
@inject IMarshalService _marshalService

<style>
    .offcanvas.show {
        transform: translateX(0%);
    }

    .offcanvas {
        transform: translateX(100%);
/*        width: 600px !important;*/
    }

    .color-text {
        color: #1F365D;
    }
    .offcanvas-end {
        width: 732px !important;
    }

</style>

<div class="offcanvas offcanvas-end show border-start shadow" tabindex="-1" id="createUser"
     style="visibility:@(IsVisible ? "visible" : "hidden"); transition: transform 0.9s ease-in-out;"
     aria-labelledby="createUserLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createUserLabel">Add New Marshal</h5>
        <button type="button" class="btn-close text-reset" @onclick="Hide"></button>
    </div>
    <div class="offcanvas-body">
        <EditForm Model="@marshalDto" OnValidSubmit="SubmitMarshal">
            <DataAnnotationsValidator />
            @*<ValidationSummary />*@

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label color-text">First Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.FirstName" placeholder="Enter First Name..." />
                    </div>
                    <ValidationMessage For="@(()=>marshalDto.FirstName)" />
                </div>
                <div class="col-md-6">
                    <label class="form-label color-text">Last Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.LastName" placeholder="Enter Last Name..." />
                    </div>
                    @*<ValidationMessage For="@(()=>marshalDto.LastName)" />*@
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label color-text">Telephone</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-phone color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.Telephone"  placeholder="Enter Telephone..."/>
                    </div>
                    <ValidationMessage For="@(()=>marshalDto.Telephone)"/>
                </div>
                <div class="col-md-4">
                    <label class="form-label color-text">Badge Number<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-id-badge color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.BadgeNumber" placeholder="Enter Badge Number..." />
                    </div>
                    <ValidationMessage For="@(()=>marshalDto.BadgeNumber)" />
                </div>
                <div class="col-md-4">
                    <label class="form-label ">Docket No.</label>
                    <InputText class="form-control" placeholder="Enter Docket No." @bind-Value="marshalDto.DocketNo"  />
                    <ValidationMessage For="@(() => marshalDto.DocketNo)" />

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label color-text">Fax</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-fax color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.Fax" placeholder="Enter Fax..." />
                    </div>
                    <ValidationMessage For="@(()=>marshalDto.Fax)"/>
                </div>

                <div class="col-md-6">
                    <label class="form-label color-text">Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope color-text"></i></span>
                        <InputText class="form-control" @bind-Value="marshalDto.Email" placeholder="Enter Email..." />
                    </div>
                    <ValidationMessage For="@(()=>marshalDto.Email)" />
                </div>
            </div>


                <div class="mb-4">
                    <label class="form-label color-text">Office Address</label>
                    <InputText class="form-control" @bind-Value="marshalDto.OfficeAddress" placeholder="Enter Address..." />
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>

        </EditForm>
    </div>
</div>


@code {
    [Parameter] public MarshalDto marshalDto { get; set; } = new MarshalDto();
    [Parameter] public EventCallback<MarshalDto> Submit { get; set; }

    private bool IsVisible { get; set; } = false;

    public Task ShowAsync()
    {
        marshalDto = new MarshalDto();
        IsVisible = true;
        return Task.CompletedTask;
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public async Task SubmitMarshal()
    {
        spinnerservice.Show();
        var result = await _marshalService.CreateMarshalAsync(marshalDto);

        if (result !=null)
        {
            IsVisible = false;
            await Submit.InvokeAsync(marshalDto);

        }
        spinnerservice.Hide();
    }

}
