@rendermode InteractiveServer
@inject NavigationManager nav
@using System.Security.Claims

@using EvictionFiler.Server
@* @using EvictionFiler.Client.Services *@
 @using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@* @inject SpinnerService SpinnerService *@
@inject AuthenticationStateProvider AuthenticationStateProvider 
@* @inject AuthService _authService *@
@inject NavigationManager Navigation
@inject HttpClient _httpClient
@inject IJSRuntime JS
@inject ProtectedLocalStorage LocalStorage




<div class="d-flex navbar-custom">
    @if (!isSettingsMode)
    {
        <nav class="sidebar d-flex flex-column vh-100 @(isCollapsed ? "collapsed" : "")">
            @if (isCollapsed)
            {

                <img src="/evictionfiler.jpg"
                     alt="Logo"
                     class="logo-img"
                     style="margin-left: 33px; margin-top: 20px; width: 34px; height: 36px;" />
            }
            else
            {
               
                <img src="images/PHOTO-2025-06-18-02-45-29.png"
                     alt="Logo"
                     class="logo-img" 
                     style="margin-left: 21px; margin-top: 4px; width: 160px; max-height: 100px;margin-bottom:26px;"/>
                
                     
            }


            <div class="flex-grow-1 flex-column v-scroll-auto scroll-hidden nav-container" style="border-bottom: 1px solid #f9d836;">
                <div class="nav flex-column">
                    <button class="create-case-btn" @onclick="navigateTocase">
                        <i class="fa fa-plus icon-plus"></i>
                        <span class="hide-on-collapse">Create New Case</span>
                    </button>
                </div>




                <div class="nav flex-column ">
                    <a title="Dashboard" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Home") || (isCollapsed && IsSubmenuActive("Home")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("Home"))">

                        <i class="fa-solid fa-table-cells-large menu-icon"></i>

                        <span class="hide-on-collapse menu-label"> Dashboard</span>

                    </a>

                </div>

                <div class="nav flex-column "
                     @onmouseover="@(() => HoveredMenu = "ManageCases")"
                     @onmouseout="@(() => HoveredMenu = null)">
                    <a title="Cases" class="sidebar-link text-decoration-none p-2 @(IsExpanded("ManageCases") || (isCollapsed && IsSubmenuActive("ManageCases")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("ManageCases"))">
                        
                        @*@onclick="@(() => ToggleMenu("ManageCases"))">*@
                        <i class="fa-solid fa-scale-balanced menu-icon" style="margin-left:@(isCollapsed ? "0px" : "11px")"></i>

                        <span class="hide-on-collapse menu-label" style="margin-left:13px !important;">Legal Cases</span>
                    </a>

                </div>

                <!--@if (!isCollapsed && IsExpanded("ManageCases"))
                {
                    <div class="ms-3 submenu-container">
                        @foreach (var submenu in submenuMap["ManageCases"])
                        {
                            <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToCases(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                            </a>
                        }
                    </div>
                }
                else if (isCollapsed && HoveredMenu == "ManageCases")
                {
                    <div class="flyout-menu">
                        @foreach (var submenu in submenuMap["ManageCases"])
                        {
                            <a class="dropdown-item  @(activeMenu == submenu.Title ? "active" : "")"
                               @onclick="@(() => NavigateToCases(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text ">@submenu.Title</span>
                            </a>
                        }
                    </div>-->

                    @*        <div class="flyout-menu">
                    <a href="/Home/Live" class="dropdown-item @(activeMenu == "Live Data" ? "active" : "")"
                       @onclick="@(() => SetActive("Live Data"))">Live Data</a>
                    <a href="/Calendar/Calendar" class="dropdown-item @(activeMenu == "Calender" ? "active" : "")"
                       @onclick="@(() => SetActive("Calender"))">Calendar</a>
                    <a href="/NotImplemented" class="dropdown-item @(activeMenu == "Attendance" ? "active" : "")"
                       @onclick="@(() => SetActive("Attendence"))">Attendance</a>
                    <a href="/Pegboard" class="dropdown-item @(activeMenu == "Pegboard" ? "active" : "")"
                       @onclick="@(() => SetActive("Pegboard"))">Pegboard</a>
                    <a href="/NotImplemented" class="dropdown-item @(activeMenu == "Audit" ? "active" : "")"
                       @onclick="@(() => SetActive("Audit"))">Audit</a>
                </div> *@
                <!--}-->


                @if (userRole == "Admin")
                {
                    <!-- MANAGE -->
                    <div class="nav flex-column ">
                        <a title="User" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Users") || (isCollapsed && IsSubmenuActive("Users")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Users"))">
                            <i class="fa-solid fa-user-gear menu-icon"></i>

                            <span class="hide-on-collapse menu-label">Users</span>
                        </a>

                    </div>
                }

                <div class="nav flex-column ">
                    <a title="Client" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Client") || (isCollapsed && IsSubmenuActive("Client")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("Client"))">
                        <i class="fa-solid fa-user-group menu-icon"></i>

                        <span class="hide-on-collapse menu-label">Clients</span>
                    </a>

                </div>

                <div class="nav flex-column ">
                    <a title="Marshal" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Marshals") || (isCollapsed && IsSubmenuActive("Marshals")) ? "active":"")"
                        @onclick ="@(()=>ToggleMenu("Marshals"))">
                        <i class="fa-solid fa-briefcase menu-icon"></i>
                        <span class=" hide-on-collapse menu-label">Marshals</span>
                    </a>

                </div>

                <div class="nav flex-column ">
                    <a title="Client" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Calender") || (isCollapsed && IsSubmenuActive("Calender")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("Calender"))">
                        <i class="fa-solid fa-calendar-days menu-icon"></i>

                        <span class="hide-on-collapse menu-label">  Calender</span>
                    </a>

                </div>
                @if (userRole == "Admin")
                {
                    <!-- Reporting -->
                    <div class="nav flex-column "
                 @onmouseover="@(() => HoveredMenu = "Reporting")"
                 @onmouseout="@(() => HoveredMenu = null)">
                        <a title="Reporting" class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between @(IsExpanded("Reporting") || (isCollapsed && IsSubmenuActive("Reporting")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Reporting"))">
                            <i class="fa-solid fa-clipboard menu-icon"></i>
                            <span class="hide-on-collapse menu-label">Reporting</span>
                            <i class="fa-solid @(IsExpanded("Reporting") ? "fa-chevron-up" : "fa-chevron-down") ms-auto"></i>
                        </a>
            </div>



                    @if (!isCollapsed && IsExpanded("Reporting"))
                    {
                        <div class="ms-3 submenu-container">
                           

                            @foreach (var submenu in submenuMap["Reporting"])
                            {
                                <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToReporting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text hide-on-collapse">@submenu.Title</span>



                                </a>
                            }
                        </div>
                    }
                    else if (isCollapsed && HoveredMenu == "Reporting")
                    {
                        <div class="flyout-menu submenu-container">
                            @foreach (var submenu in submenuMap["Reporting"])
                            {
                                <a class="dropdown-item submenu-link text-decoration-none  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToReporting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text ">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }

                    @if (userRole == "Admin")
                    {
                        <!-- MANAGE -->
                        <div class="nav flex-column ">
                            <a title="User" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Remainder Center") || (isCollapsed && IsSubmenuActive("Remainder Center")) ? "active" : "")"
                               @onclick="@(() => ToggleMenu("Remainder Center"))">
                                <i class="fa-solid fa-bell menu-icon"></i>


                                <span class="hide-on-collapse menu-label">Remainder Center</span>
                            </a>

                        </div>
                    }

                    <div class="nav flex-column  ">
                        <a title="Client" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Attorney") || (isCollapsed && IsSubmenuActive("Attorney")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Attorney"))">
                            <i class="fa-solid fa-user menu-icon"></i>

                            <span class="hide-on-collapse menu-label"> Attorney Billing</span>
                        </a>

                    </div>

                    <div class="nav flex-column  ">
                        <a title="Client" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Real-Estate") || (isCollapsed && IsSubmenuActive("Real-Estate")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Real-Estate"))">
                            <i class="fa-solid fa-user menu-icon"></i>

                            <span class="hide-on-collapse menu-label"> Real Estate</span>
                        </a>

                    </div>

                    <!-- Accounting -->
                    <div class="nav flex-column  "
                         @onmouseover="@(() => HoveredMenu = "Accounting")"
                         @onmouseout="@(() => HoveredMenu = null)">
                        <a title="Accounting" class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between @(IsExpanded("Accounting") || (isCollapsed && IsSubmenuActive("Accounting")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Accounting"))">
                            <i class="fa-solid fa-hand-holding-dollar menu-icon"></i>
                            <span class="hide-on-collapse menu-label">Accounting</span>

                            <i class="fa-solid @(IsExpanded("Accounting") ? "fa-chevron-up" : "fa-chevron-down") ms-auto"></i>
                        </a>
                    </div>

                    @if (!isCollapsed && IsExpanded("Accounting"))
                    {
                        <div class="ms-3 submenu-container">
                            @foreach (var submenu in submenuMap["Accounting"])
                            {
                                <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToReporting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }
                    else if (isCollapsed && HoveredMenu == "Accounting")
                    {
                        <div class="flyout-menu submenu-container">
                            @foreach (var submenu in submenuMap["Accounting"])
                            {
                                <a class="dropdown-item submenu-link text-decoration-none  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToReporting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text ">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }

                    <!-- Maintenance -->
                    <div class="nav flex-column "
                         @onmouseover="@(() => HoveredMenu = "Maintenance")"
                         @onmouseout="@(() => HoveredMenu = null)">
                        <a title="Maintenance" class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between @(IsExpanded("Maintenance") || (isCollapsed && IsSubmenuActive("Maintenance")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Maintenance"))">
                            <i class="fa-solid fa-wrench menu-icon"></i>
                            <span class="hide-on-collapse menu-label">Maintenance</span>
                            <i class="fa-solid @(IsExpanded("Maintenance") ? "fa-chevron-up" : "fa-chevron-down") ms-auto"></i>
                        </a>
                    </div>


                    @if (!isCollapsed && IsExpanded("Maintenance"))
                    {
                        <div class="ms-3 submenu-container">
                            @foreach (var submenu in submenuMap["Maintenance"])
                            {
                                <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToMaintenance(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }
                    else if (isCollapsed && HoveredMenu == "Maintenance")
                    {
                        <div class="flyout-menu submenu-container">
                            @foreach (var submenu in submenuMap["Maintenance"])
                            {
                                <a class="dropdown-item submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToMaintenance(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text ">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }


                    <!-- Process Server -->
                    @*     <div class="nav flex-column "
                     @onmouseover="@(() => HoveredMenu = "Process")"
                     @onmouseout="@(() => HoveredMenu = null)">
                        <a title="Process Server" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Process") || (isCollapsed && IsSubmenuActive("Process")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Process"))">
                            <i class="fa-solid fa-user-shield menu-icon"></i>
                            <span class="hide-on-collapse menu-label">Process Server</span>
                        </a>
                    </div>
                @if (!isCollapsed && IsExpanded("Process"))
                {
                    <div class="ms-3 submenu-container">
                        @foreach (var submenu in submenuMap["Process"])
                        {
                            <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                            </a>
                        }
                    </div><SideMenu />
                }
                else if (isCollapsed && HoveredMenu == "Process")
                {
                    <div class="flyout-menu">
                        @foreach (var submenu in submenuMap["Process"])
                        {
                            <a class="dropdown-item  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text ">@submenu.Title</span>
                            </a>
                        }
                    </div>
                } *@

                    <!-- Case Transfer -->
                    @* <div class="nav flex-column "
                     @onmouseover="@(() => HoveredMenu = "Transfer")"
                     @onmouseout="@(() => HoveredMenu = null)">
                        <a   title="Case Transfer" class="sidebar-link text-decoration-none p-2 @(IsExpanded("Transfer") || (isCollapsed && IsSubmenuActive("Transfer")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Transfer"))">
                            <i class="fa-solid fa-right-left menu-icon" ></i>
                            <span class="hide-on-collapse menu-label">Case Transfer</span>
                        </a>
                    </div>

                @if (!isCollapsed && IsExpanded("Transfer"))
                {
                    <div class="ms-3 submenu-container">
                        @foreach (var submenu in submenuMap["Transfer"])
                        {
                            <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                            </a>
                        }
                    </div>
                }
                else if (isCollapsed && HoveredMenu == "Transfer")
                {
                    <div class="flyout-menu">
                        @foreach (var submenu in submenuMap["Transfer"])
                        {
                            <a class="dropdown-item  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text ">@submenu.Title</span>
                            </a>
                        }
                    </div>
                } *@



                    <!-- NYCEF Email -->
                    @*   <div class="nav flex-column "
                 @onmouseover="@(() => HoveredMenu = "NYCEFEmail")"
                 @onmouseout="@(() => HoveredMenu = null)">
                    <a  title=" NYCEEF Email Async" class="sidebar-link text-decoration-none p-2 @(IsExpanded("NYCEFEmail") || (isCollapsed && IsSubmenuActive("Drafting")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("NYCEFEmail"))">
                        <i class="fa-solid fa-book menu-icon"></i>
                        <span class="hide-on-collapse menu-label">NYCEEF Email Sync</span>
                    </a>
                </div> *@

                    @*  @if (!isCollapsed && IsExpanded("NYCEFEmail"))
                {
                    <div class="ms-3 submenu-container">
                        @foreach (var submenu in submenuMap["NYCEFEmail"])
                        {
                            <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                            </a>
                        }
                    </div>
                }
                else if (isCollapsed && HoveredMenu == "NYCEFEmail")
                {
                    <div class="flyout-menu">
                        @foreach (var submenu in submenuMap["NYCEFEmail"])
                        {
                            <a class="dropdown-item  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text ">@submenu.Title</span>
                            </a>
                        }
                    </div>
                } *@
                    <!-- Print Forms -->
                    @* <div class="nav flex-column "
                 @onmouseover="@(() => HoveredMenu = "FormsPrint")"
                 @onmouseout="@(() => HoveredMenu = null)">
                    <a title=" Forms Print" class="sidebar-link text-decoration-none p-2 @(IsExpanded("FormsPrint") || (isCollapsed && IsSubmenuActive("FormsPrint")) ? "active" : "")"
                       @onclick="@(() => ToggleMenu("FormsPrint"))">
                        <i class="fa-solid fa-print menu-icon"></i>
                        <span class="hide-on-collapse menu-label">Print Forms</span>
                    </a>
                </div> *@




                    @*                 @if (!isCollapsed && IsExpanded("FormsPrint")) *@
                    @*   {
                    <div class="ms-3 submenu-container">
                        @foreach (var submenu in submenuMap["FormsPrint"])
                        {
                            <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                            </a>
                        }
                    </div>
                }
                else if (isCollapsed && HoveredMenu == "FormsPrint")
                {
                    <div class="flyout-menu">
                        @foreach (var submenu in submenuMap["FormsPrint"])
                        {
                            <a class="dropdown-item  @(activeMenu == submenu.Title ? "active-submenu" : "")"
                               @onclick="@(() => NavigateToReporting(submenu.Title))">

                                <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                <span class="submenu-text ">@submenu.Title</span>
                            </a>
                        }
                    </div>
                }
                } *@

                    <div class="nav flex-column "
                         @onmouseover="@(() => HoveredMenu = "Drafting")"
                         @onmouseout="@(() => HoveredMenu = null)">
                        <a title="Manage Forms" class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between @(IsExpanded("Drafting") || (isCollapsed && IsSubmenuActive("Forms")) ? "active" : "")"
                           @onclick="@(() => ToggleMenu("Drafting"))">
                            <i class="fa-solid fa-drafting-compass" style="margin-left:@(isCollapsed ? "0px !important" : "11px")"></i>
                            <span class="hide-on-collapse menu-label">Drafting Library</span>

                            <i class="fa-solid @(IsExpanded("Drafting") ? "fa-chevron-up" : "fa-chevron-down") ms-auto"></i>
                        </a>

                    </div>

                    @if (!isCollapsed && IsExpanded("Drafting"))
                    {
                        <div class="ms-3 submenu-container">
                            @foreach (var submenu in submenuMap["Drafting"])
                            {
                                <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToDrafting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }
                    else if (isCollapsed && HoveredMenu == "Drafting")
                    {
                        <div class="flyout-menu submenu-container">
                            @foreach (var submenu in submenuMap["Drafting"])
                            {
                                <a class="dropdown-item submenu-link text-decoration-none   @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                   @onclick="@(() => NavigateToDrafting(submenu.Title))">

                                    <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                    <span class="submenu-text ">@submenu.Title</span>
                                </a>
                            }
                        </div>
                    }

                    @if (userRole == "Admin")
                    {
                        <div class="nav position-relative flex-column "
                             @onmouseover="@(() => HoveredMenu = "Settings")"
                             @onmouseout="@(() => HoveredMenu = "null")">
                            <a title="Manage Forms" class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between @(IsExpanded("Settings") || (isCollapsed && IsSubmenuActive("Forms")) ? "active" : "")"
                               @onclick="@(() => ToggleMenu("Settings"))">
                                <i class="fa-solid fa-gear" style="margin-left:@(isCollapsed ? "-2px !important" : "11px")"></i>


                                <span class="hide-on-collapse menu-label">Settings</span>

                                <i class="fa-solid @(IsExpanded("Settings") ? "fa-chevron-up" : "fa-chevron-down") ms-auto"></i>
                            </a>

                        </div>


                        @if (!isCollapsed && IsExpanded("Settings"))
                        {
                            <div class="ms-3 submenu-container">
                                @foreach (var submenu in submenuMap["Settings"])
                                {
                                    <a class="submenu-link text-decoration-none @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                       @onclick="@(() => NavigateToSettings(submenu.Title))">

                                        <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                        <span class="submenu-text hide-on-collapse">@submenu.Title</span>
                                    </a>
                                }
                            </div>
                        }

                        else if (isCollapsed && HoveredMenu == "Settings")
                        {
                            <div class="flyout-menu submenu-container">
                                @foreach (var submenu in submenuMap["Settings"])
                                {
                                    <a class="dropdown-item submenu-link text-decoration-none   @(activeMenu == submenu.Title ? "active-submenu" : "")"
                                       @onclick="@(() => NavigateToSettings(submenu.Title))">

                                        <i class="@submenu.Icon submenu-icon" title="@submenu.Title"></i>
                                        <span class="submenu-text ">@submenu.Title</span>
                                    </a>
                                }
                            </div>
                        }
                    }
                }

            </div>


            @* <hr style="color:gray; margin-bottom:0px;"/> *@
            <div class="profile-section mt-2 mb-2 ">
                <div class="inside" style="background: #f9d836;margin-left:13px;margin-right:13px;border-radius:6px;">
                <a class="sidebar-link text-decoration-none p-2 d-flex align-items-center justify-content-between border-none" 
                   @onclick="ToggleProfileOptions">
                    <div class="d-flex align-items-center">
                        @if(isCollapsed)
                        {
                                <i class="fa-regular fa-user menu-icon"></i>

                        }
                        
                        @if (!isCollapsed && Name != null)
                        {
                            <span class="hide-on-collapse menu-label ms-2">@Name</span>
                        }
                    </div>
                    @* @if (!isCollapsed)
                    {
                        <i class="fa-solid @(showProfileOptions ? "fa-chevron-up" : "fa-chevron-down")"></i>
                    } *@
                   
                </a>
                <!-- Submenu -->
                @if (showProfileOptions)
                {
                    <div class="submenu-container @(isCollapsed ? "submenu-flyout" : "")">
                        <a href="/profile" class="dropdown-item text-dark d-flex align-items-center p-2">
                            <i class="fa-solid fa-id-badge me-2"></i> My Profile
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item text-dark d-flex align-items-center p-2"
                           @onclick="LogoutUser">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </a>
                    </div>
                }

                <div class="sidebar-bottom d-flex flex-column position-relative border-none" >
                    <a class="sidebar-link text-decoration-none p-2 ">
                        @if(isCollapsed)
                            {
                                <i class="fa-solid fa-circle-question menu-icon"></i>
                            }
                            
                    <span class=" hide-on-collapse menu-label">Help/FAQ</span>
                </a>
                <div class="toggle-btns"  @onclick="ToggleSidebar">
                    <i class="fas fa-angles-left"></i>
                </div>
              </div>
              </div>



                <!-- Settings & Collapse Button -->
                @* <div class="sidebar-bottom d-flex flex-column position-relative">
                   
                </div> *@
            </div>

        </nav>

    }
</div>
@code {
    private bool showProfileOptions = false;
    Dictionary<string, bool> expandedMenus = new();
    private string userRole = "";


    public string Name { get; set; }

    bool IsSubmenuActive(string parentMenu) =>
        submenuMap.ContainsKey(parentMenu) &&
        submenuMap[parentMenu].Any(x => x.Title == activeMenu);


    string activeMenu = "";
    bool isCollapsed = false;
    private string HoveredMenu { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;



        if (user.Identity?.IsAuthenticated == true)
        {

            var roleClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
            if (roleClaim != null)
            {
                userRole = roleClaim.Value;
            }
            Name = user.Identity.Name ?? "User";
        }
        else
        {
            Name = "Guest";
        }

        string[] menus = {
    "Home", "ManageCases", "Users", "Client","Marshals", "Calender","Drafting",
    "Reporting", "Remainder Center","Real-Estate","Attorney", "Accounting", "Maintenance",
    "Process", "Transfer", "FormsPrint","NYCEFEmail" , "Settings"
};
        foreach (var menu in menus)
        {
            expandedMenus[menu] = false;
        }

        // expandedMenus["Organisation"] = true;
        // activeMenu = "Tags";
        var uri = nav.Uri.ToLower();

        if (uri.EndsWith("/dashboard"))
        {
            activeMenu = "Home";
            expandedMenus["Home"] = true;
        }
        if (uri.EndsWith("/legalcases") || uri.Contains("/legalcase"))
        {
            activeMenu = "ManageCases";
            expandedMenus["ManageCases"] = true;
        }
        if (uri.EndsWith("/users") )
        {
            activeMenu = "Users";
            expandedMenus["Users"] = true;
        }

        if(uri.EndsWith("/remainder-center"))
        {
            activeMenu = "Remainder Center";
            expandedMenus["Remainder Center"] = true;
        }
        if (uri.EndsWith("/clients"))
        {
            activeMenu = "Client";
            expandedMenus["Client"] = true;
        }
        if(uri.EndsWith("/marshals"))
        {
            activeMenu = "Marshals";
            expandedMenus["Marshals"] = true;
        }
        if (uri.EndsWith("/calender"))
        {
            activeMenu = "Calender";
            expandedMenus["Calender"] = true;
        }
        if (uri.EndsWith("/calender"))
        {
            activeMenu = "Calender";
            expandedMenus["Calender"] = true;
        }
        if (uri.EndsWith("/attorney"))
        {
            activeMenu = "Attorney";
            expandedMenus["Attorney"] = true;
        }

        if (uri.EndsWith("/reporting") || uri.Contains("/reporting"))
        {
            activeMenu = "Reporting";
            expandedMenus["Reporting"] = true;
        }

        if (uri.EndsWith("/remainder-center") || uri.Contains("/remainder-center"))
        {
            activeMenu = "Remainder Center";
            expandedMenus["Remainder Center"] = true;
        }
        if (uri.EndsWith("/maintenance") || uri.Contains("/maintenance"))
        {
            activeMenu = "Maintenance";
            expandedMenus["Maintenance"] = true;
            if (uri.EndsWith("/court"))
            {
                activeMenu = "Courts";
            }
            if (uri.EndsWith("/feescatalog"))
            {
                activeMenu = "Fees Catalog";
            }
        }
        if (uri.EndsWith("/drafting") || uri.Contains("/drafting"))
        {
            activeMenu = "Drafting";
            expandedMenus["Drafting"] = true;

            if (uri.EndsWith("/manage-forms"))
            {
                activeMenu = "Manage-Forms";
            }

            if (uri.EndsWith("/affidavits-of-service"))
            {
                activeMenu = "Affidavits";
            }
            if (uri.EndsWith("/appeals"))
            {
                activeMenu = "Appeals";
            }
            if (uri.EndsWith("/hold-over-forms"))
            {
                activeMenu = "Hold Over";
            }

            if (uri.EndsWith("/motions-and-orders-to-show-cause"))
            {
                activeMenu = "Motions";
            }
            if (uri.EndsWith("/non-military-affidavit-of-investigation"))
            {
                activeMenu = "Non-Military";
            }
            if (uri.EndsWith("/non-payment-forms"))
            {
                activeMenu = "Non-Payment";
            }
            if (uri.EndsWith("/notice-of-entry"))
            {
                activeMenu = "Notice of Entry";
            }
            if (uri.EndsWith("/stipulations"))
            {
                activeMenu = "Stipulations";
            }
            if (uri.EndsWith("/tenant-forms"))
            {
                activeMenu = "Tenant";
            }
            if (uri.EndsWith("/warrants"))
            {
                activeMenu = "Warrants";
            }
        }
        if (uri.EndsWith("/settings"))
        {
            activeMenu = "Settings";
            expandedMenus["Settings"] = true;
        }

    }



    public void navigateTocase()
    {
        nav.NavigateTo("/legalcase/create");
    }


    async Task ToggleMenu(string menu)
    {
        if (!expandedMenus[menu])
            CollapseAll();

        expandedMenus[menu] = !expandedMenus[menu];

        await LocalStorage.SetAsync("activeMenu", activeMenu);

        switch (menu)
        {
            case "Home":
                nav.NavigateTo("/dashboard");
                break;
            case "ManageCases":
                nav.NavigateTo("/legalcases");

                break;
            case "Users":
                nav.NavigateTo("/users");
                break;
            case "Client":
                nav.NavigateTo("/clients");
                break;
            case "Marshals":
                nav.NavigateTo("/marshals");
                break;
            case "Calender":
                nav.NavigateTo("/calender");
                break;
            case "Real-Estate":
                nav.NavigateTo("/realestate");
                break;
            case "Attorney":
                nav.NavigateTo("/Attorney");
                break;
            case "Drafting":

                break;
            case "Reporting":
                break;
            case "Remainder Center":
                nav.NavigateTo("/remainder-center");
                break;
            case "Accounting":
                break;
            case "Maintenance":
                break;
            case "Process":
                break;
            case "Transfer":
                break;

            case "FormsPrint":
                break;
            case "NYCEFEmail":
                break;
            case "Settings":
                break;

            default:
                nav.NavigateTo("/");
                break;
        }
    }

    private async Task LogoutUser()
    {
        await JS.InvokeVoidAsync("fetch", "/api/auth/logout", new
        {
            method = "POST",
            credentials = "include"
        });
        Navigation.NavigateTo("/", forceLoad: true);
    }

    private void ToggleProfileOptions()
    {
        showProfileOptions = !showProfileOptions;
    }



    void ToggleSidebar()
    {
        if (isSettingsMode)
        {
            isSettingsMode = false;
        }
        isCollapsed = !isCollapsed;
    }

    void CollapseAll()
    {
        var keys = expandedMenus.Keys.ToList();
        foreach (var key in keys)
        {
            expandedMenus[key] = false;
        }
    }
    Dictionary<string, List<(string Title, string Icon)>> submenuMap = new()
{
    // Cases
     { "ManageCases", new()
    {
          ("Manage-Cases" , "fa-solid fa-handshake"),
        // ("Dispossess", "fa-solid fa-gavel"),        
        // ("Calendar", "fa-regular fa-calendar"),       
        // ("Warrant", "fa-solid fa-file-contract"),    
        // ("Holdover", "fa-solid fa-file-shield")       
    }
},

    // Reporting Section
    { "Reporting", new()
        {
            ("Accounting Report", "fa-solid fa-scale-balanced"),
            ("Client Billing Report", "fa-solid fa-list-check"),
            ("Marshal Reports", "fa-solid fa-gavel"),
            // ("Client Monthly Billing", "fa-solid fa-file-invoice-dollar"),
            // ("Warrant Disposition Report", "fa-solid fa-file-contract"),
            // ("Marshal Reports", "fa-solid fa-user-shield"),
            // ("Dispo Reports", "fa-solid fa-file-circle-check"),
            // ("Legal Status / Actions Reports", "fa-solid fa-scale-balanced")
        }
    },

    // Accounting Section
    { "Accounting", new()
        {
            ("Invoices / Retainers / Adjustments", "fa-solid fa-file-invoice"),
            ("Statement Reports", "fa-solid fa-file-lines"),
            ("Open Receivables / Ledger", "fa-solid fa-book"),
            ("Attorney Billing", "fa-solid fa-money-bill")
        }
    },

    // Maintenance Section
    { "Maintenance", new()
        {
            ("Courts", "fa-solid fa-file-alt"),
            ("Fees Catalog", "fa-solid fa-briefcase"),
            ("Reminders", "fa-solid fa-users"),
            ("Push notification & Alerts", "fa-solid fa-gavel")
        }
    },

    // Process Server Section
    { "Process", new()
        {
            ("Add Rent Demand Served", "fa-solid fa-plus"),
            ("Add Petition Served", "fa-solid fa-file-signature"),
            ("Generate Process Reports", "fa-solid fa-chart-line")
        }
    },

    // Case Transfer Section
    { "Transfer", new()
        {
            ("Transfer Case / Building", "fa-solid fa-right-left")
        }
    },

    // Print Forms Section
    { "FormsPrint", new()
        {
            ("Notice of Discontinuance", "fa-solid fa-file"),
            ("Affidavit to Execute", "fa-solid fa-file-signature"),
            ("Rent Demand", "fa-solid fa-file-invoice-dollar"),
            ("Section 8 Forms", "fa-solid fa-file-alt"),
            ("Tenant Declaration", "fa-solid fa-house-user"),
            ("FDCPA Letter", "fa-solid fa-envelope"),
            ("Petition & Petition Affidavits", "fa-solid fa-file-contract")
        }
    },

    // NYCEF Email Sync Integration
    { "NYCEFEmail", new()
        {
            ("Auto-fetch NYCEF notices", "fa-solid fa-envelope-open-text"),
            ("Map documents to internal case by Index #", "fa-solid fa-diagram-project"),
            ("Auto-pull opposing counsel details into case", "fa-solid fa-user-tie"),
            ("Add docs to OSC packages", "fa-solid fa-file-import")
        }
    },

    // Convert Case to E-File
    { "EFile", new()
        {
            ("One-click transfer to e-file-ready version", "fa-solid fa-file-export")
        }
    },

    // Drafting Library Section
    { "Drafting", new()
        {
       ("Manage-Forms" , "fa-solid fa-handshake"), // existing
        ("Affidavits", "fa-solid fa-file-signature"),
        ("Appeals", "fa-solid fa-gavel"),
        ("Hold Over", "fa-solid fa-file-contract"),
        ("Motions", "fa-solid fa-scale-balanced"),
        ("Non-Military", "fa-solid fa-user-shield"),
        ("Non-Payment", "fa-solid fa-file-invoice-dollar"),
        ("Notice of Entry", "fa-solid fa-door-open"),
        ("Stipulations", "fa-solid fa-scroll"),
        ("Tenant", "fa-solid fa-people-roof"),
        ("Warrants", "fa-solid fa-file-circle-exclamation"),

        }


    },

     { "Settings", new()
        {

            ("States", "fa-solid fa-map-location-dot"),
            ("Case Types", "fa-solid fa-briefcase"),
            ("Landlord Types", "fa-solid fa-user-tie"),
            ("Tenancy Types", "fa-solid fa-house-user"),
            ("Premise Types", "fa-solid fa-building"),
            ("Language", "fa-solid fa-language"),
            ("Reason Holdovers", "fa-solid fa-file-circle-question"),
            ("Renewal Status", "fa-solid fa-arrows-rotate"),
            ("Rent Regulations", "fa-solid fa-file-invoice-dollar"),
            ("Type Of Owners", "fa-solid fa-user-tag"),
            ("Unit Illigals", "fa-solid fa-house-crack"),
                ("Categories", "fa-solid fa-arrows-rotate")
        }


    }
};

    void NavigateToDrafting(string submenu)
    {
        activeMenu = submenu;

        switch (submenu)
        {
            case "Manage-Forms":
                nav.NavigateTo("/Drafting/Manage-Forms");
                break;
            case "Affidavits":
                nav.NavigateTo("/Drafting/affidavits-of-service");
                break;
            case "Appeals":
                nav.NavigateTo("/Drafting/appeals");
                break;
            case "Hold Over":
                nav.NavigateTo("/Drafting/hold-over-forms");
                break;
            case "Motions":
                nav.NavigateTo("/Drafting/motions-and-orders-to-show-cause");
                break;
            case "Non-Military":
                nav.NavigateTo("/Drafting/non-military-affidavit-of-investigation");
                break;
            case "Non-Payment":
                nav.NavigateTo("/Drafting/non-payment-forms");
                break;
            case "Notice of Entry":
                nav.NavigateTo("/Drafting/notice-of-entry");
                break;
            case "Stipulations":
                nav.NavigateTo("/Drafting/stipulations");
                break;
            case "Tenant":
                nav.NavigateTo("/Drafting/tenant-forms");
                break;
            case "Warrants":
                nav.NavigateTo("/Drafting/warrants");
                break;
        }
    }

    void NavigateToCases(string submenu)
    {
        activeMenu = submenu;

        switch (submenu)
        {
            case "ManageCases":
                nav.NavigateTo("/legalcases");
                break;



        }
    }

    void NavigateToSettings(string submenu)
    {
        activeMenu = submenu;

        switch (submenu)
        {
            case "States":
                nav.NavigateTo("/Settings/State");
                break;
            case "Case Types":
                nav.NavigateTo("/Settings/case-type");
                break;
            case "Landlord Types":
                nav.NavigateTo("/Settings/landlord-type");
                break;
            case "Tenancy Types":
                nav.NavigateTo("/Settings/tenancy-type");
                break;
            case "Premise Types":
                nav.NavigateTo("/Settings/premise-type");
                break;
            case "Language":
                nav.NavigateTo("/Settings/language");
                break;
            case "Reason Holdovers":
                nav.NavigateTo("/Settings/reason-holdover");
                break;
            case "Renewal Status":
                nav.NavigateTo("/Settings/renewal-status");
                break;
            case "Rent Regulations":
                nav.NavigateTo("/Settings/rent-regulation");
                break;
            case "Type Of Owners":
                nav.NavigateTo("/Settings/type-of-owner");
                break;
            case "Unit Illigals":
                nav.NavigateTo("/Settings/unit-illigal");
                break;
            case "Categories":
                nav.NavigateTo("/Settings/category");
                break;
        }
    }


    void NavigateToReporting(string submenu)
    {
        activeMenu = submenu;

        switch (submenu)
        {
            case "Court Calendar":
                nav.NavigateTo("/reporting/court-calendar");
                break;
            case "Case Status":
                nav.NavigateTo("/reporting/case-status");
                break;
            case "Trials Scheduled":
                nav.NavigateTo("/reporting/trials-scheduled");
                break;
            case "Client Monthly Billing":
                nav.NavigateTo("/reporting/client-monthly-billing");
                break;
            case "Warrant Disposition Report":
                nav.NavigateTo("/reporting/warrant-disposition");
                break;
            case "Marshal Reports":
                nav.NavigateTo("/reporting/marshal-reports");
                break;
            case "Dispo Reports":
                nav.NavigateTo("/reporting/dispo-reports");
                break;
            case "Legal Status / Actions Reports":
                nav.NavigateTo("/reporting/legal-status-actions");
                break;
        }
    }
    void NavigateToMaintenance(string submenu)
    {
        activeMenu = submenu;

        switch (submenu)
        {
            case "Courts":
                nav.NavigateTo("/maintenance/court");
                break;
            case "Fees Catalog":
                nav.NavigateTo("/maintenance/feescatalog");
                break;
            case "Reminders":
                nav.NavigateTo("/maintenance/reminders");
                break;
            case "Push notification & Alerts":
                nav.NavigateTo("/maintenance/alerts");
                break;
        }
    }

    void SetActive(string menu)
    {

        activeMenu = menu;


    }

    bool IsExpanded(string menu)
    {
        return expandedMenus.ContainsKey(menu) && expandedMenus[menu];
    }

    bool isSettingsMode = false;
    bool isFirstTimeOpeningSettings = true;

    void ToggleSettingsMode()
    {
        isSettingsMode = !isSettingsMode;

        if (isSettingsMode && isFirstTimeOpeningSettings)
        {
            expandedMenus["Organisation"] = true;
            activeMenu = "Tags";
            isFirstTimeOpeningSettings = false;

        }
    }




}


