@using Blazored.Toast.Services
@using EvictionFiler.Application.DTOs
@using EvictionFiler.Application.DTOs.CaseAppearanceDtos
@using EvictionFiler.Application.DTOs.CaseHearing
@using EvictionFiler.Application.DTOs.CaseNoticeInfoDtos
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Client.SpinnerService
@inject IJSRuntime JS
@inject SpinnerService spinnerservice
@inject IToastService ToastService
@inject ICaseAppearanceService _caseAppreance
@inject ICaseNoticeInfoService _caseNoticeinfo
@inject IRemianderCenterService _remainder

<div style="position:relative">
 @if (isLoading)
{
    <div class="spinnerContainer" style="position:absolute !important">
        <div class="text-center">
            <div class="spinner-border spinnerIcon" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2 text-dark">Loading...</p>
        </div>
    </div>
}

    <table class="info-table mb-4" style="border:none;">
        <thead>
            <tr>
                <th colspan="2" class="info-bar">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="info-bar-title">Motion Dates</div>
                        <button type="button" class="btn btn-sm normal p-1" @onclick="ShowStipulationModal" title="Edit Motions" style="color:white">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="info-row" style="display:flex;">
                <!-- Column 1 -->
                <td class="info-block">
                    <div class="label">Motion Due:</div>
                    <div class="value ellipsis">
                        @(
                            MotionJudgements.MotionDue.HasValue
                                                ? MotionJudgements.MotionDue.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>

                <!-- Column 2 -->
                <td class="info-block">
                    <div class="label">Opposition Due:</div>
                    <div class="value ellipsis">
                        @(
                            MotionJudgements.OppositionDue.HasValue
                                                ? MotionJudgements.OppositionDue.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>
            </tr>

            <!-- ROW 2 -->
            <tr class="info-row" style="display:flex;">
                <!-- Column 1 -->
                <td class="info-block">
                    <div class="label">Reply Due:</div>
                    <div class="value ellipsis">
                        @(
                            MotionJudgements.ReplyDue.HasValue
                                         ? MotionJudgements.ReplyDue.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>

                <!-- Column 2 -->
                <td class="info-block">
                    <div class="label">OSC / Return:</div>
                    <div class="value ellipsis">
                        @(
                            MotionJudgements.ReturnDate.HasValue
                                                ? MotionJudgements.ReturnDate.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
    <table class="info-table" style="border:none;">
        <thead>
            <tr>
                <th colspan="2" class="info-bar">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="info-bar-title">Key Dates</div>
                        @* <button type="button" class="btn btn-sm normal p-1" @onclick="ShowTenantModal" style="color:white">
                                                <i class="bi bi-pencil"></i>
                                            </button>*@
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="info-row" style="display:flex;">
                <!-- Column 1 -->
                <td class="info-block">
                    <div class="label">Vacate Date:</div>
                    <div class="value ellipsis">
                        @(
                            legalcaseDto.RemainderDate.HasValue
                                                ? legalcaseDto.RemainderDate.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>

                <!-- Column 2 -->
                <td class="info-block">
                    <div class="label">Next Reminder:</div>
                    <div class="value ellipsis">
                        @(
                            legalcaseDto.RemainderDate.HasValue
                                                ? legalcaseDto.RemainderDate.Value.ToString(DateFormats.Default)
                                                : "--"
                            )
                    </div>
                </td>
            </tr>


        </tbody>
    </table>

</div>
<div class="modal fade" id="stipulationModal" tabindex="-1" aria-labelledby="stipulationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow">
            <div class="modal-header">
                <h5 class="modal-title fw-semibold" id="buildingModalLabel">Edit Stipulation Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <EditForm Model="@MotionJudgements">
                <DataAnnotationsValidator />
                <div class="modal-body py-0">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row">
                                <!-- Case Type Dropdown -->





                                <div class="mt-3 position-relative">
                                    <!--<button type="button" class="btn-close position-absolute top-0 end-0 m-2"
                                            aria-label="Clear"
                                            @onclick="ClearSelectedClient">
                                    </button> -->
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-label required-label">Motion Due</label>
                                            <RadzenDatePicker DateFormat="@DateFormats.Default" class="edit-stip" @bind-Value="MotionJudgements.MotionDue" />


                                        </div>
                                        <div class="col-6">
                                            <label class="form-label required-label">Opposition Due</label>
                                            <RadzenDatePicker DateFormat="@DateFormats.Default" class="edit-stip" @bind-Value="MotionJudgements.OppositionDue" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 mt-3">
                                            <label class="form-label required-label">Reply Due</label>
                                            <RadzenDatePicker DateFormat="@DateFormats.Default" class="edit-stip" @bind-Value="MotionJudgements.ReplyDue" />
                                        </div>

                                        <div class="col-6 mt-3">
                                            <label class="form-label required-label">Return Date</label>
                                            <RadzenDatePicker DateFormat="@DateFormats.Default" class="edit-stip" @bind-Value="MotionJudgements.ReturnDate" />
                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="padding-top: 0px !important; border-top: none !important;">
                    <button type="button" class="btn btn-secondary buttons" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary base buttons" @onclick="SaveStipulationChanges">Save</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private CaseAppearanceDto Model { get; set; }=new();
    [Parameter] public Guid? CurrentCaseId { get; set; }
    [Parameter] public IntakeModel legalcaseDto { get; set; } = new();
    private List<CaseAppearanceDto> Judgements = new();
    private List<CaseHearingDto> CaseHearings = new();
    private CaseAppearanceDto MotionJudgements = new();
    [Parameter] public EventCallback OnFormCreate { get; set; } = new();
    private CaseNoticeInfoDto CaseNoticeInfos = new();
    private DateOnly? VacateDate { get; set; }
    private DateTime? NextRemainder { get; set; }
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        await LoadJudgement();
        await LoadOthers();
        isLoading = false;

    }
    private async void ShowStipulationModal()
    {

        JS.InvokeVoidAsync("showModal", "stipulationModal");
    }
    private async Task LoadJudgement()
    {
        Judgements = await _caseAppreance.GetAllCaseAppreance(CurrentCaseId.Value);
        if (Judgements != null)
        {
            if (CaseHearings != null)
            {
                int count = Math.Min(Judgements.Count, CaseHearings.Count);

                for (int i = 0; i < count; i++)
                {
                    // Assign hearing date to judgement appearance date
                    Judgements[i].AppreanceDate = CaseHearings[i].HearingDate;
                }
            }

            MotionJudgements = Judgements!.Where(e => e.CourtTodayName!.Contains("Motion")).FirstOrDefault()! ?? new CaseAppearanceDto();
        }




        StateHasChanged();
    }
    private async Task LoadOthers()
    {
        var casenotice = await _caseNoticeinfo.GetAllCasenoticeInfo(legalcaseDto.Id);
        if (casenotice != null)
        {
            CaseNoticeInfos = casenotice.Where(e => e.FormTypeName.Contains("Demand")).FirstOrDefault() ?? new CaseNoticeInfoDto();
            var date = CaseNoticeInfos.DateNoticeServed?.AddDays(CaseNoticeInfos.CalcNoticeLength ?? 0);
            VacateDate = CaseNoticeInfos.DateNoticeServed.HasValue ? date : null;
        }
        NextRemainder = CaseHearings.Where(e => e.HearingDate > DateTime.Now).OrderBy(ed => ed.HearingDate).Select(ab => ab.HearingDate).FirstOrDefault();

        var remainders = await _remainder.GetRemainderCenterByCaseIdAsync(legalcaseDto.Id);
        // remainders = remainders.OrderBy(e => e.When).ToList();
        if (remainders != null)
        {
            legalcaseDto.RemainderDate = remainders
        .Where(r => r.When > DateTime.Now)
        .OrderBy(r => r.When)
        .Select(r => r.When)
        .FirstOrDefault();
        }
        StateHasChanged();
    }
    private async Task SaveStipulationChanges()
    {
        spinnerservice.Show();
        var result = await _caseAppreance.UpdateCaseAppreance(Model);
        if (result)
        {
            ToastService.ShowSuccess("Stipulation details updated successfully!");
            await JS.InvokeVoidAsync("hideModal", "stipulationModal");


           await  OnFormCreate.InvokeAsync();
        }
        else
        {
            ToastService.ShowError("Failed to update stipulation details.");
        }

        spinnerservice.Hide();
    }
}
