@using EvictionFiler.Application.Common.Interfaces
@using EvictionFiler.Application.Common.Models
@using EvictionFiler.Application.DTOs.DashboardDto
@using EvictionFiler.Application.DTOs.RemainderCenterDto
@using EvictionFiler.Application.Interfaces.IRepository.Dashboard
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Application.Interfaces.IServices.Dashboard
@using EvictionFiler.Client.SpinnerService
@inject ILoggedInUserService _loggedInUserService
@inject NavigationManager navManager;
@inject ILegalCaseService _service
@inject ICaseHearingService _caseService
@inject IRemianderCenterService _remainder
@inject IDashboardService dashboardService
@inject IDashboardReadRepository dashboardReadRepository

@inject SpinnerService spinnerservice


@if (isLoading)
{
    <a class="tile">
        <div class="icon">@icon</div>
        <div>
            <div class="count">...</div>
            <div class="label">@label</div>
        </div>
    </a>
}
else
{

<a class="tile" href="@href">
    <div class="icon">@icon</div>
    <div>
        <div class="count">@DisplayValue</div>
        <div class="label">@label</div>
    </div>
</a>
}
@code {
    [Parameter] public string label { get; set; }
    [Parameter] public string icon { get; set; }
    [Parameter] public string href { get; set; }
    [Parameter]
    public LoggedInUser LoggedinUserId{ get; set; }
    [Parameter]
    public EventCallback<List<IGrouping<string?, EditToRemainderCenterDto>>> Reminder { get; set; }
    private List<EditToRemainderCenterDto> InCompleteRemainder = new();
    private List<IGrouping<string?, EditToRemainderCenterDto>> groupedRemainder = new();
    private int ActiveIndex = 0;
    private int totalCases = 0;
    private int totalRemainder = 0;
    private int totalCasesHearing = 0;
    private int activeCases = 0;
    private bool IsPrevDisabled => ActiveIndex == 0;
    private string DisplayValue = "";
    private bool isLoading = true;
    private LoggedInUser? identityUser;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        this.identityUser = LoggedinUserId;

        totalCases = await dashboardService.GetTotalCasesCountAsync(LoggedinUserId.FirmId ?? string.Empty, LoggedinUserId.IsSuperAdmin);
        totalCasesHearing = await dashboardService.GetAllTodayCaseHearingAsync(LoggedinUserId.FirmId ?? string.Empty, LoggedinUserId.IsSuperAdmin);
        InCompleteRemainder = await dashboardReadRepository.GetAllInCompleteRemainder(identityUser.IsSuperAdmin, Guid.Parse(LoggedinUserId.UserId ?? string.Empty));

        groupedRemainder = InCompleteRemainder.GroupBy(e => e.CaseCode).ToList();
        if (Reminder.HasDelegate)
        {
            await Reminder.InvokeAsync(groupedRemainder);
        }
        if (groupedRemainder.Any())

            totalRemainder = InCompleteRemainder.Count();
        switch (label)
        {
            case "Cases Filed This Week":
                DisplayValue = totalCases.ToString();
                break;

            case "Hearings Today":
                DisplayValue = totalCasesHearing.ToString();
                break;

            case "Smart Alerts":
                DisplayValue =totalRemainder.ToString() ;
                break;


            case "Open Balance Alerts":
                DisplayValue = "$0k";
                break;

            case "Trust Balances":
                DisplayValue = "$0k";
                break;


            case "Tasks Completed (wk)":
                DisplayValue = "0%";
                break;

            default:
                DisplayValue ="0";
                break;
        }

        isLoading = false;

    }

    
}
