@* @page "/court-outcome" *@
@using Blazored.Toast.Services
@using EvictionFiler.Application.Constants
@using EvictionFiler.Application.DTOs
@using EvictionFiler.Application.DTOs.CaseAppearanceDtos
@using EvictionFiler.Application.Interfaces.IRepository.MasterRepository
@using EvictionFiler.Application.Interfaces.IServices
@using EvictionFiler.Domain.Entities.Master

@inject ICourtTodayTypeRepository Courttodayrepo
@inject IAdjournedReasonRepository adjournedRepo
@inject ICaseAppearanceService appreanceService
@inject IRemianderCenterService _remainder
@inject IToastService ToastService

@* <PageTitle>HousingCourtFiler – Outcome Actions</PageTitle> *@
<style>
    /* body {
                background: #f5f7fb;
                padding-bottom: 90px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont;
            } */

    .header {
        background: #DDB156;
        color:black;
        padding: 14px 20px;
        border-radius: 12px;
    }
    
    .section {

       
            margin: 16px;
    border-radius: 10px;
}
       
    

        .section h6 {
         
            color: #0b1f3a;
            margin-bottom:0;
        font-size: 20px;
      
        /* align-items: center; */
       
        }

    .sticky-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        
        border-top: 1px solid #e5e7eb;
        padding: 12px 20px;
        z-index: 100;
    }

    .width-adjust {
        Width: 100% !important;
    }

    .card-theme {
        background: #ffffff;
        border-radius: 14px;
        box-shadow: 0 6px 16px rgba(15, 30, 60, .06);
    }

    .btn {
        border-radius: 7px;
        height: 38px;
        /* width: 180px; */
        font-size: 16px;
        min-width: fit-content;
    }

    .health-score {
        font-weight: 700;
        font-size: 24px;
    }

    .btn-primary {
        background-color: #1F365D !important;
        border-color: #1F365D !important;
    }

        .btn-primary:hover {
            background-color: #042254 !important;
            border-color: #042254 !important;
        }

    .page-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .page-content {
        flex: 1; /* pushes footer down */
    }

    .page-footer {
        background: #ffffff;
        border-top: 1px solid #e5e7eb;
        padding: 12px 20px;
    }

    .active {
        color: #1F365D !important;
        font-weight: 700;
    }

    .nav-link {
        color: grey;
    }

        .nav-link:hover {
            color: #1F365D !important;
            font-weight: 700;
        }

        .form-select
        {
        border-radius:25px;
        background: #f7f6f3;
        border: 0.5px solid #1F365D;
        font-family: Lato;
        font-weight: 500;
        min-height: 50px;
        font-size: 14px;
        line-height: 100%;
        padding:16px 16px;
        }
       .heading
       {
        background: white;
        display: flex;
        align-items: center;
       
        height: 52px;
        margin-bottom:15px;
        padding-left: 7px;
       }
       label
       {
        margin-left: 15px;
        margin-bottom: 5px;
       }

       .custom-datepicker .rz-inputtext
       {
        height: 50px;
        line-height: 50px;
        border-radius: 25px !important;
        background: #f7f6f3;
        border: 0.5px solid #1F365D;
        min-height: 50px;

       }

        .custom-datepicker .rz-inputtext:focus {
            background-color: #f7f6f3;
            border-color: #1F365D;
            outline: none;
        }

    .custom-datepicker:hover .rz-inputtext {
        background-color: #f7f6f3;
        border-color: #0d2a52;
    }

        .custom-datepicker .rz-inputtext:hover {
            background-color: #f7f6f3; /* your hover color */
            border-color: #0d2a52;
        }

       .form-control
       {
        background: #f7f6f3;
        border: 0.5px solid #1F365D;
        max-height: 50px;
       }
       .text{
        padding: 12px 30px;
       }

    
 /*   .custom-datepicker
   {
        border-radius: 25px !important;
        background: #f7f6f3;
        border: 0.5px solid #1F365D;
        min-height: 50px;
   } */
</style>

<div class="container my-4">

    <!-- HEADER -->
    <div class="header mb-3">
        <strong>ACTIONS</strong><br />
        Case #: @(legalcaseDto.Casecode ?? "CSI-2025-009312")  | Court: @(legalcaseDto.CountyName ?? "Queens")  | Part @(legalcaseDto.CourtPart ?? "D") | Judge @(legalcaseDto.Judge ?? "Bryan")
    </div>
    <EditForm Model="@model">

        <h6>What happened in court today?</h6>
        <!-- OUTCOME SELECTOR -->
        <div class="section">
            
            <InputSelect class="form-select" @bind-Value="model.CourtTodayId">
                <option value="">—-Select-—</option>
                @foreach (var item in CourtTodayType)
                {
                    <option value="@item.Id">@item.Name</option>
                    @*  <option value="motion">Adjourned for Motion Practice</option>
                <option value="stip">Stipulation (No Judgment)</option>
                <option value="stip_judgment">Stipulation With Judgment</option>
                <option value="final">Final Judgment + Warrant</option>
                <option value="money">Money Judgment Only</option>
                <option value="closed">Case Settled / Discontinued</option> *@
                }

            </InputSelect>
        </div>

        @if (ShowAdjourn)
        {
            <div class="section">
                <h6>Adjourn Date & Time</h6>
                <div class="row">
                    <div class="col-md-4">
                        <label>Date</label>
                        <input type="date" @bind="model.AdjournDate" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Time</label>
                        <input type="time" @bind="model.AdjournTime" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Reason</label>
                        <InputSelect class="form-select" @bind-Value="model.AdjournReasonId">
                            <option value="">--Select--</option>
                            @foreach (var item in AdjournedReasons)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </InputSelect>
                    </div>
                </div>
            </div>
        }

        @if (ShowMotions)
        {
            <div class="section">
                <h6>Motion Schedule</h6>
                <div class="row">
                    <div class="col-md-3"><label>Motion Due</label><RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker"  Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.MotionDue" /></div>
                    <div class="col-md-3"><label>Opposition Due</label><RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.OppositionDue" /></div>
                    <div class="col-md-3"><label>Reply Due</label><RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.ReplyDue" /></div>
                    <div class="col-md-3"><label>Return Date</label><RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.ReturnDate" /></div>
                </div>
            </div>
        }

        @if (ShowStip)
        {
            <div class="section">
                <h6>Stipulation Summary</h6>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="model.JurisdictionWaived" />
                    <label class="form-check-label">Jurisdictional defenses waived</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="model.MilitaryAffidavit" />
                    <label class="form-check-label">Military affidavit complete</label>
                </div>
            </div>
        }

        @if (ShowWarrant)
        {
            <div class="section">
                <div class="heading">
                    <h6>Warrant & Eviction</h6>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label>Warrant Issued</label>
                        <select class="form-select" @bind="model.WarrantIssued">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Issuance Date</label>
                        <RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true"  Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.WarrantDate"  />
                    </div>
                    <div class="col-md-4">
                        <label>Stay Until</label>
                        <RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="model.StayUntil" />
                    </div>
                </div>
            </div>
        }
        <hr />
        @if (ShowPayments)
        {
            <div class="section">
                <label>Payments / Use & Occupancy</label>

                <div class="row mb-2">
                    <div class="col-md-3">
                        <InputNumber @bind-Value="Amount" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="PaymentStart" />
                    </div>
                    <div class="col-md-3">
                        <RadzenDatePicker DateFormat="@DateFormats.Default" AllowInput="false" ShowButton="true" Class="custom-datepicker" Style="width:100%; box-shadow:none; cursor:pointer; " @bind-Value="PaymentEnd"  />
                    </div>
                </div>

                <button class="btn btn-sm btn-primary" style="margin: 14px; margin-left: 2px;" @onclick="GenerateSchedule">
                    Generate Schedule
                </button>

             <table class="table table-sm mt-2">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in PaymentSchedule)
                        {
                            <tr>
                                <td>@row.Date.ToShortDateString()</td>
                                <td>@row.Amount.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (model.CourtTodayId != null && model.CourtTodayId != Guid.Empty)
        {
            <div class="section" style="background-color:white;padding: 0px 12px;">
                <h6>Key Dates (Read Only)</h6>
                <ul style="margin-top: 10px;">
                    <li>Vacate Date: @(legalcaseDto.ExpirationDate.HasValue? legalcaseDto.ExpirationDate.Value.ToString(DateFormats.Default) : "--")</li>
                    <li>
                        Next Appearance: @(legalcaseDto.RemainderDate.HasValue
                                            ? legalcaseDto.RemainderDate.Value.ToString(DateFormats.Default)
                                        : "--")
                </li>
                <li>Next Payment: —</li>
            </ul>
        </div>

            <div class="section" style="background-color:white;margin-bottom:40px;padding: 0px 12px;">
                <h6>Reminders</h6>
                <div class="form-check" style="margin-top:10px;">
                    <InputCheckbox class="form-check-input" @bind-Value="model.ReminderDeadlines" />
                    <label class="form-check-label">Deadlines</label>
                </div>
                <div class="form-check">
                    <InputCheckbox class="form-check-input" @bind-Value="model.ReminderPayments" />
                    <label class="form-check-label">Payments</label>
                </div>
            </div>
                }
    </EditForm>
</div>

<div class="sticky-footer d-flex justify-content-between width-adjust">
    <div class="text">Court-ready ✓</div>
    <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary btn-sm" disabled="@(model.CourtTodayId == null || model.CourtTodayId == Guid.Empty)" @onclick="SaveAsync">Save</button>
        <button class="btn btn-primary btn-sm" disabled="@(model.CourtTodayId == null || model.CourtTodayId == Guid.Empty)" @onclick="SaveAsync">Save & Generate Reminders</button>
    </div>
</div>

@code {
    [Parameter] public IntakeModel legalcaseDto { get; set; }

    public CaseAppearanceDto model { get; set; } = new();

    Guid? Outcome = null;

    DateTime? AdjournDate;
    TimeOnly? AdjournTime;
    string AdjournReason = "By Court";

    DateTime? MotionDue;
    DateTime? OppositionDue;
    DateTime? ReplyDue;
    DateTime? ReturnDate;

    bool JurisdictionWaived;
    bool MilitaryAffidavit;

    string WarrantIssued = "Yes";
    DateTime? WarrantDate;
    DateTime? StayUntil;

    decimal Amount = 1500;
    DateTime? PaymentStart;
    DateTime? PaymentEnd;

    bool ReminderDeadlines = true;
    bool ReminderPayments = true;

    List<PaymentRow> PaymentSchedule = new();
    IEnumerable<CourtToday> CourtTodayType = new List<CourtToday>();
    IEnumerable<AdjournedReason> AdjournedReasons = new List<AdjournedReason>();

    // bool ShowAdjourn => Outcome is "adjourned" or "motion";
    bool ShowAdjourn => CourtTodayType.Any(e => e.Id == model.CourtTodayId && (e.Name.Trim().Equals("Adjourned") || e.Name.Trim().Equals("Adjourned for Motion Practice")));
    // bool ShowMotions => Outcome == "motion";
    bool ShowMotions => CourtTodayType.Any(e => e.Id == model.CourtTodayId && (e.Name.Trim().Equals("Adjourned for Motion Practice")));
    // bool ShowStip => Outcome is "stip" or "stip_judgment";
    bool ShowStip => CourtTodayType.Any(e => e.Id == model.CourtTodayId && (e.Name.Trim().Equals("Stipulation (No Judgement)") || e.Name.Trim().Equals("Stipulation With Judgement")));
    // bool ShowWarrant => Outcome == "final";
    bool ShowWarrant => CourtTodayType.Any(e => e.Id == model.CourtTodayId && (e.Name.Trim().Equals("Final Judgement + Warrant")));
    // bool ShowPayments => Outcome is "stip" or "stip_judgment" or "final" or "money"; Money Judgment Only
    bool ShowPayments => CourtTodayType.Any(e => e.Id == model.CourtTodayId && (e.Name.Trim().Equals("Stipulation (No Judgement)") || e.Name.Trim().Equals("Stipulation With Judgement") || e.Name.Trim().Equals("Final Judgement + Warrant") || e.Name.Trim().Equals("Money Judgement Only")));

    protected override async Task OnInitializedAsync()
    {
        CourtTodayType = await Courttodayrepo.GetAllAsync();
        AdjournedReasons = await adjournedRepo.GetAllAsync();

    }

    void GenerateSchedule()
    {
        PaymentSchedule.Clear();

        if (PaymentStart == null || PaymentEnd == null) return;

        var d = PaymentStart.Value;

        while (d <= PaymentEnd)
        {
            PaymentSchedule.Add(new PaymentRow
            {
                Date = d,
                Amount = Amount
            });

            d = d.AddMonths(1);
        }
    }

    class PaymentRow
    {
        public DateTime Date { get; set; }
        public decimal Amount { get; set; }
    }

    public async Task SaveAsync()
    {
        model.LegalCaseId = legalcaseDto.Id;
        var result = await appreanceService.AddCaseAppearance(model);
        if (result)
        {
            ToastService.ShowSuccess("Case Appreance Added Successfully!");
            if (model.MotionDue.HasValue)
            {

                int MotionOppDaysBeforeReturn = -1; // This is hordcoded and will be pick from config later.
                await _remainder.CreateNewReminder(legalcaseDto.Id, "Opposition Due (motion)", model.ReturnDate!.Value.AddDays(MotionOppDaysBeforeReturn));

                await _remainder.CreateNewReminder(legalcaseDto.Id, "Reply Due (motion)", model.ReplyDue!.Value.AddDays(MotionOppDaysBeforeReturn));
            }

            if (ShowWarrant)
            {
                int MotionOppDaysBeforeReturn = -1; // This is hordcoded and will be pick from config later.
                await _remainder.CreateNewReminder(legalcaseDto.Id, "Warrant eligible", model.WarrantDate!.Value.AddDays(MotionOppDaysBeforeReturn));

                await _remainder.CreateNewReminder(legalcaseDto.Id, "Appeal Notice Deadline", model.WarrantDate!.Value.AddDays(30));
            }
        }
        else
        {
            ToastService.ShowError("Error occured in adding Case Appreance");
        }
    }
}
