@page "/legalcases"
@page "/legalcases/search"
@using EvictionFiler.Application.Constants
@using EvictionFiler.Application.DTOs
@using EvictionFiler.Application.DTOs.ApartmentDto
@using EvictionFiler.Application.DTOs.ClientDto
@using EvictionFiler.Application.DTOs.LandLordDto
@using EvictionFiler.Application.DTOs.LegalCaseDto
@using EvictionFiler.Application.DTOs.PaginationDto
@using EvictionFiler.Application.DTOs.TenantDto
@using EvictionFiler.Application.Interfaces.IRepository.MasterRepository
@using EvictionFiler.Application.Interfaces.IServices
@inject ICaseTypeRepository CaseTypeRepository
@* @using EvictionFiler.Client.Jwt *@
@using EvictionFiler.Domain.Entities
@using EvictionFiler.Domain.Entities.Master
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@inject AuthenticationStateProvider _authStateProvider
@inject ILegalCaseService _service
@inject IClientService _clientservice
@using EvictionFiler.Client.SpinnerService
@using Microsoft.AspNetCore.WebUtilities
@inject SpinnerService spinnerservice
@inject NavigationManager navManager
@attribute [Authorize]
<PageTitle>Cases - Housing Court Filer</PageTitle>

<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .page-title {
        margin: 0; /* prevent browser inconsistencies */
        font: normal 500 20px/30px "Poppins", sans-serif;
    }

    .status-active {
        background-color: rgba(25,135,84,1);
        color: #fff;
        padding: 2px 7px;
        border-radius: 1rem;
        font-size: 12px;
    }

    .container {
        /* background-color: #F2F0EC; */
        border: solid 1px #F2F0EC;
        box-shadow: 0 15px 20px #F2F0EC !important;
        max-width: 100%;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:disabled, .btn-primary:active, .btn-primary:focus {
        background-color: #1F365D !important;
        border-color: #1F365D !important;
    }




    .page-link {
        color: #1F365D;
    }

        .page-link.active,
        .page-item.active .page-link {
            background-color: #1F365D;
            border-color: #1F365D;
            color: #F2F0EC;
        }

    table.table thead th {
        color: #1F365D;
        background: #F2F0EC;
        margin-bottom: 0px !important;
    }

    h5, p, small {
        color: #1F365D;
    }

    .adv-btn {
        color: #1F365D;
        background: #FFF;
    }

        .adv-btn:hover {
            color: #FFF;
            background: #1F365D;
        }

        .adv-btn.active-adv-btn {
            background-color: #1F365D !important;
            color: #F2F0EC !important;
            border-color: #1F365D !important;
        }


    .table-responsive {
        overflow-x: auto; /* Enable horizontal scroll */
        position: relative;
    }

    table th, table td {
        white-space: nowrap;
    }

    th.sticky, td.sticky {
        position: sticky;
        right: 0;
        background: #F2F0EC; /* Same as container background */
        z-index: 2;
        text-align: center;
    }

    /* Make sure header sticky stays above other cells */
    th.sticky {
        z-index: 3;
    }
</style>
<style>
    .search-box {
        width: 100%;
        padding: 12px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 12px;
        background: #fff;
        color: #0f172a;
        outline: none;
        height: 2.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    }

        .search-box::placeholder {
            color: darkgrey;
        }

        .search-box:focus {
            border: 2px solid #020336 !important;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
            background: #F5F5F5;
        }

    .search-btn {
        position: absolute;
        right: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        color: #9f9faf;
        cursor: pointer;
        padding: 0;
        font-size: 1.2rem;
    }

        .search-btn:hover {
            color: #1F365D;
        }

    .status-delete {
        background-color: rgba(220,53,69,1);
        color: #fff;
        padding: 2px 7px;
        border-radius: 1rem;
        font-size: 12px;
    }

    .status-archive {
        background-color: rgba(255, 193, 7, 1);
        color: #fff;
        padding: 2px 7px;
        border-radius: 1rem;
        font-size: 12px;
    }

    .case-bread {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

        .case-bread:hover {
            text-decoration: underline;
        }

    .search-panel {
        background: #fff;
        border-radius: 14px;
        padding: 18px;
        box-shadow: 0 6px 16px rgba(0,0,0,0.05);
    }

    /* Cards */
    .case-card {
        display: flex;
        flex-direction:column;
        height:100%;
        border-radius: 16px;
        border: none;
        box-shadow: 0 8px 22px rgba(0,0,0,0.06);
        transition: all .25s ease;
    }

        .case-card:hover {
            transform: translateY(-5px);
        }

    .case-header {
        background: #1F365D;
        color: #fff;
        padding: 10px 11px;
        border-radius: 16px 16px 0 0;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .badge-type {
        background: #eef2ff;
        color: #1f3c88;
        font-weight: 500;
    }

    .case-body {
        padding: 10px;
        font-size: 15px;
        flex-grow: 1;
    }

        .case-body .title {
            font-family: Lato;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -3%;
            text-transform: capitalize;
            white-space: nowrap;
            color: #1F365D;
            padding-right: 0px;
            
        }

        .case-body .value {
            font-family: Lato;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            text-align: right;
            text-transform: capitalize;
            color: #1F365D;
            padding-left: 0px;
        }

    .view-toggle .btn {
        border-radius: 10px;
    }

    .hidden {
        display: none;
    }

    .card-footer-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cols-2 {
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .info-row {
        height: 42px;
        border-bottom: 1px solid #EEF1F8;
    }

        .info-row:last-child {
            border-bottom: none;
        }

    /* Cells */
    .info-cell {
        padding: 8px 16px;
        vertical-align: middle;
        font-family: Lato;
    }

        /* Label column */
        .info-row.label {
            width: 0%;
            font-family: Lato;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -3%;
            text-transform: capitalize;
            white-space: nowrap;
            color: #1F365D;
            padding-right: 0px;
        }

        /* Value column */
        .info-row.value {
            font-family: Lato;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            text-align: right;
            text-transform: capitalize;
            color: #1F365D;
            padding-left: 0px;
        }

</style>


<body class="p-4">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard" class="case-bread">Home</a></li>
            <li class="breadcrumb-item ">Cases Workspace</li>

        </ol>
    </nav>
    <div class="container p-4 rounded shadow-sm mt-4">
        <EditForm EditContext="_editContext">
            <DataAnnotationsValidator />
            <!-- Title Row -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="m-0 flex-fill page-title">Cases Workspace</h5>
                <div class="d-flex flex-fill gap-2 justify-content-end">
                    <div class="btn-group view-toggle">
                        <button id="cardViewBtn" class=@(IsGridView ? "btn btn-primary btn-sm" : "btn btn-outline-secondary btn-sm") @onclick="OnViewTypeChange">
                            <i class="bi bi-grid"></i>
                        </button>
                        <button id="tableViewBtn" class=@(IsGridView ? "btn btn-outline-secondary btn-sm" : "btn btn-primary btn-sm") @onclick="OnViewTypeChange">
                            <i class="bi bi-table"></i>
                        </button>
                    </div>
                    <div class="col-4">
                        <select id="casetype" class="form-select holdover-form"
                                @bind="selectedCaseTypeId"
                                @bind:after="OnCaseTypeChanged">

                            <option value=""> All Case Types</option>

                            @foreach (var l in CaseTypeList)
                            {
                                <option value="@l.Id">@l.Name</option>
                            }
                        </select>


                        @* <ValidationMessage For="() => legalcaseDto.CaseTypeId" /> *@
                    </div>
                    <button class="btn btn-primary" title="Clear all Search" disabled="@IsClearbtndisable" @onclick="ClearAll" style="font-size:14px"><i class="fa-solid fa-arrows-rotate"></i></button>
                    <button class="btn btn-primary" @onclick="navigatetoCase"><i class="fa-solid fa-file-circle-plus"></i> Create Case</button>

                </div>
            </div>

            <!-- Search Filters -->
            <div class="row g-2 mb-4">
                <!-- Four default search boxes -->
                <div class="col-md-3 position-relative">
                    <input class="form-control search-box" placeholder="Search by Case Code" @bind="searchcasecode" @oninput="@(e => OnSearchChanged(e, "CaseCode"))" />
                    <button class="search-btn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-md-3 position-relative">
                    <input class="form-control search-box" placeholder="Search by Client" @bind="searchTermClient" @oninput="@(e => OnSearchChanged(e, "Client"))" />
                    <button class="search-btn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-md-3 position-relative">
                    <input class="form-control search-box" placeholder="Search by Tenant" @bind="searchTermTenant" @oninput="@(e => OnSearchChanged(e, "Tenant"))" />
                    <button class="search-btn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <button type="button"
                            class="btn btn-outline-secondary adv-btn w-100 @(ShowAdvancedFilters ? "active-adv-btn" : "")"
                            @onclick="ToggleAdvanced">
                        Advanced <span>@(ShowAdvancedFilters ? "▲" : "▼")</span>
                    </button>



                </div>
            </div>

            <!-- Advanced Filters -->
            @if (ShowAdvancedFilters)
            {
                <div class="mb-3" id="advancedFilters">
                    <div class="row g-2">
                        <div class="col-md-3 position-relative">
                            <input class="form-control search-box" placeholder="Search by LandLord" @bind="searchTermLandLord" @oninput="@(e => OnSearchChanged(e, "Landlord"))" />
                            <button class="search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="col-md-3 position-relative">
                            <input class="form-control search-box" placeholder="Search by Reason" @bind="searchTermResonHoldover" @oninput="@(e => OnSearchChanged(e, "ReasonHoldover"))" />
                            <button class="search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                        <div class="col-md-3 position-relative">
                            <input class="form-control search-box" placeholder="Search by Action Date" @bind="searchTermDate" @oninput="@(e => OnSearchChanged(e, "ActionDate"))" />
                            <button class="search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        @*  <div class="col-md-3 position-relative">
                            <input class="form-control search-box" placeholder="Search by Status" @bind="searchTermStatus" @oninput="@(e => OnSearchChanged(e, "Status"))" />
                            <button class="search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div> *@

                    </div>
                </div>
            }


            @if (IsGridView)
            {
                <div class="row g-4">
                    @if (pagedcases != null && pagedcases.Items.Any())
                    {
                        @foreach (var cas in pagedcases.Items)
                        {

                            <!-- CARD -->
                            <div class="col-md-6 col-xl-4">
                                <div class="card case-card">
                                    <div class="case-header">
                                        <div class="d-flex">
                                            <span style="font-size:16px; font-weight:600;">@cas.Casecode</span>
                                            
                                            <span class="badge badge-type mb-2 ms-2">@cas.CaseType?.Name</span>
                                        </div>
                                        <div class="case-actions d-flex">

                                            <i class="fa-solid fa-pen-to-square text-navy me-2" style="cursor:pointer"
                                               @onclick="@(() => EditCase(cas.Id))"
                                               title="Edit"></i>
                                            <i class="fa-solid fa-trash-can text-navy  me-2" title="Delete" style="cursor:pointer" @onclick="@(() => DeleteCase(cas.Id, isAdmin))"></i>
                                            <i class="fa-solid  fa-circle-info text-navy" title="Info" style="cursor:pointer" @onclick="@(() => CaseDetails(cas.Id))"></i>
                                        </div>
                                    </div>
                                    <div class="case-body">
                                        <div class="mt-2 mb-1 row"><span class="col-auto title">Client: </span><span class="col value">@cas.Clients?.FirstName @cas.Clients?.LastName - @cas.Clients?.ClientCode</span></div>
                                        <div class="mb-1 row"><span class="col-auto title">Landlord: </span><span class="col value">@cas.LandLords?.FirstName @cas.LandLords?.LastName - @cas.LandLords?.LandLordCode</span></div>
                                        <div class="mb-3 row"><span class="col-auto title">Tenant: </span><span class="col value">@cas.Tenants?.FirstName @cas.Tenants?.LastName - @cas.Tenants?.TenantCode</span></div>
                                        
                                        

                                    </div>
                                    <hr  style="margin:0;"/>
                                        <div class="card-footer-data p-3">
                                            <div>
                                                @if (cas.UpdatedOn == null)
                                                {
                                                    <p style="margin-bottom:0px"><span class="title">Created On: </span><span class="value">@cas.CreatedOn.ToString(DateFormats.Default)</span></p>
                                                }
                                                else
                                                {
                                                    <p style="margin-bottom:0px"><span class="title">Updated On:  </span><span class="value">@cas.UpdatedOn?.ToString(DateFormats.Default)</span></p>
                                                }
                                            </div>

                                            <div>
                                            @* <span class="badge badge-type" style="margin-bottom:0px !important">
                                                @(cas.IsActive == true? "Active" : cas.IsDeleted == true ? "InActive" : "Not Set")
                                                </span> *@
                                            <span class="badge badge-type
                                                                         @(cas.IsActive? "bg-success text-white" : cas.IsDeleted == true ? "bg-secondary text-white" : "bg-warning text-dark")" style="margin-bottom:0px !important">
                                                                            @(cas.IsActive? "Active" : cas.IsDeleted == true ? "InActive" : "Not Set")
                                            </span>



                                            </div>

                                        </div>
                                </div>
                            </div>

                            @*  <!-- DUPLICATE CARD (Sample) -->
                            <div class="col-md-6 col-xl-4">
                                <div class="card case-card">
                                    <div class="case-header">
                                        EF000000002
                                    </div>
                                    <div class="case-body">
                                        <span class="badge badge-type mb-2">Holdover</span>

                                        <p class="mt-2 mb-1"><strong>Client:</strong><br>CC000000002 – Rupert Lussen</p>
                                        <p class="mb-1"><strong>Landlord:</strong><br>LL000000002 – Rupert Lussen</p>
                                        <p class="mb-3"><strong>Tenant:</strong><br>TT000000002 – Bohdan Barbashov</p>

                                        <div class="case-actions d-flex gap-2">
                                            <button class="btn btn-sm btn-primary">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-secondary">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                                }
                    }
                    else
                    {
                    
                        <p class="text-muted text-center fs-5">No Cases found.</p>
                   
                }
                    <!-- Add more cards dynamically -->
                </div>

            }
            else
            {
                <!-- Data Table -->
                <div class="table-responsive mb-3">
                    <table class="table table-hover align-middle text-center" style="margin-bottom: 0px;font-size:14px">
                        <thead>
                            <tr>
                                <th>Case Code</th>
                                <th>Case Type</th>
                                <th>Client </th>
                                <th>LandLord </th>
                                <th>Tenant </th>
                                @if (isAdmin)
                                {

                                    <th>Created By</th>
                                }
                                <th>Last Action Date</th>
                                <th>Status</th>

                                <th class="sticky">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (pagedcases != null && pagedcases.Items.Any())
                            {
                                @foreach (var cas in pagedcases.Items)
                                {


                                    <tr>
                                        <td>@(cas?.Casecode ?? "")</td>
                                        <td>@(cas?.CaseType?.Name ?? "-")</td>
                                        <td>
                                            @($"{cas?.Clients?.ClientCode ?? ""} - {cas?.Clients?.FirstName ?? ""} {cas?.Clients?.LastName ?? ""}")
                                        </td>
                                        <td>
                                            @($"{cas?.LandLords?.LandLordCode ?? ""} - {cas?.LandLords?.FirstName ?? ""} {cas?.LandLords?.LastName ?? ""}")
                                        </td>

                                        <td>
                                            @($"{cas?.Tenants?.TenantCode ?? ""} - {cas?.Tenants?.FirstName ?? ""} {cas?.Tenants?.LastName ?? ""}")
                                        </td>
                                        @if (isAdmin)
                                        {

                                            <td>@(cas?.CreatedByName ?? "-")</td>
                                        }
                                    <td>@( cas?.CreatedOn.ToString(DateFormats.Default))</td>
                                    <td>
                                        @(cas.IsActive == true
                                                                        ? "Active"
                                                                        : cas.IsDeleted == true
                                                                        ? "InActive"
                                                                        : "Not Set")
                            </td>



                                        <td class="sticky">
                                            <i class="fa-solid fa-pen-to-square text-navy me-2" style="cursor:pointer"
                                               @onclick="@(() => EditCase(cas.Id))"
                                               title="Edit"></i>
                                            <i class="fa-solid fa-trash-can text-navy  me-2" title="Delete" style="cursor:pointer" @onclick="@(() => DeleteCase(cas.Id, isAdmin))"></i>
                                            <i class="fa-solid  fa-circle-info text-navy" title="Info" style="cursor:pointer" @onclick="@(() => CaseDetails(cas.Id))"></i>
                                        </td>

                                    </tr>


                                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" class="text-muted">No Cases found.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }


            <!-- Pagination -->
            @if (pagedcases != null && pagedcases.TotalCount > 0)
            {
                <div class="d-flex justify-content-between mt-3">
                    <small style="font-size:14px">
                        Showing @(((currentPage - 1) * pageSize) + 1)
                        to @(Math.Min(currentPage * pageSize, pagedcases.TotalCount))
                        of @pagedcases.TotalCount entries
                    </small>
                    <nav>
                        <ul class="pagination mb-0" style="font-size:14px">
                            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                                <button class="page-link" @onclick="() => ChangePage(currentPage - 1)">←</button>
                            </li>
                            @for (int i = 1; i <= Math.Ceiling((double)pagedcases.TotalCount / pageSize); i++)
                            {
                                var pageNumber = i;
                                <li class="page-item @(pageNumber == currentPage ? "active" : "")">
                                    <button class="page-link" @onclick="() => ChangePage(pageNumber)">@pageNumber</button>
                                </li>
                            }
                            <li class="page-item @(currentPage == Math.Ceiling((double)pagedcases.TotalCount / pageSize) ? "disabled" : "")">
                                <button class="page-link" @onclick="() => ChangePage(currentPage + 1)">→</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

        </EditForm>
    </div>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
            <div class="toast show text-white bg-success">
                <div class="d-flex">
                    <div class="toast-body">
                        @successMessage
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                            @onclick="() => successMessage = string.Empty"></button>
                </div>
            </div>
        </div>
    }

    <SelectClientModal @ref="clientModal" />

    <!-- Bootstrap JS -->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

@* <script>
    // Get elements
    var advButton = document.getElementById('advToggleButton');
    var advIcon = document.getElementById('advIcon');
    var advancedCollapse = document.getElementById('advancedFilters');

    // Bootstrap collapse instance
    var bsCollapse = new bootstrap.Collapse(advancedCollapse, {
    toggle: false
    });

    // Button click par toggle hoga
    advButton.addEventListener('click', function () {
    bsCollapse.toggle();
    });

    // Collapse open hone par
    advancedCollapse.addEventListener('shown.bs.collapse', function () {
    advButton.classList.add('active-adv-btn');
    advIcon.innerHTML = "▲"; // arrow up
    advButton.setAttribute("aria-expanded", "true");
    });

    // Collapse close hone par
    advancedCollapse.addEventListener('hidden.bs.collapse', function () {
    advButton.classList.remove('active-adv-btn');
    advIcon.innerHTML = "▼"; // arrow down
    advButton.setAttribute("aria-expanded", "false");
    });
</script> *@
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const icon = document.getElementById("advIcon");
        const el = document.getElementById("advancedFilters");

        el.addEventListener("shown.bs.collapse", () => icon.textContent = "▲");
        el.addEventListener("hidden.bs.collapse", () => icon.textContent = "▼");
    });
</script>




@code {

    public string? cases { get; set; }
    public string? client { get; set; }
    public string? tenant { get; set; }
    public string? landlord { get; set; }
    private List<LegalCase> allcases = new List<LegalCase>();
    // private string searchTerm = string.Empty;
    private string searchcasecode = string.Empty;
    private string searchTermClient = string.Empty;
    private string searchTermTenant = string.Empty;
    private string searchTermLandLord = string.Empty;
    private string searchTermCaseType = string.Empty;
    private string searchTermStatus = string.Empty;
    private string searchTermDept = string.Empty;
    private string searchTermDate = string.Empty;
    private string searchTermResonHoldover = string.Empty;
    private IntakeModel legalcaseDto = new IntakeModel();
    private List<CaseType> CaseTypeList = new();

    private string showClient = string.Empty;
    private bool ViewSearch = false;

    private PaginationDto<EditToClientDto> AllClients = new();
    private List<EditToClientDto> FilteredClients = new();

    private SelectClientModal clientModal;
    private string successMessage;
    private Guid selectedClientId = new Guid();
    private Guid? selectedCaseTypeId = null;
    private PaginationDto<LegalCase> pagedcases;

    private string searchTerm = "";
    bool isCollapsed = false;
    bool isSettingsMode = false;
    private int currentPage = 1;
    private int pageSize => IsGridView ? 12 : 10;
    private string? loggedInUserId;
    private bool isAdmin = false;
    private bool IsClearbtndisable = true;
    private bool IsGridView = true;
    private CancellationTokenSource _cts;
    private EditContext _editContext;
    private bool ShowAdvancedFilters = false;

    // private void EditCase(Guid caseId)
    // {
    //     navManager.NavigateTo($"/EditCase/{caseId}");
    // }

    private void EditCase(Guid caseId)
    {
        navManager.NavigateTo($"/legalcase/{caseId}");
    }

    private void CaseDetails(Guid caseId)
    {
        navManager.NavigateTo($"/legalcase/details/{caseId}");
    }

    private void ToggleAdvanced()
    {
        ShowAdvancedFilters = !ShowAdvancedFilters;
    }

    protected override async Task OnInitializedAsync()
    {
        spinnerservice.Show();
        legalcaseDto = new IntakeModel();
        _editContext = new EditContext(legalcaseDto);
        var uri = new Uri(navManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("success", out var isSuccess) && isSuccess == "true")
        {
            successMessage = "Case Added successfully!";
            await Task.Delay(1000);
            successMessage = string.Empty;

            navManager.NavigateTo("legalcases", forceLoad: true);
        }
        else if (query.TryGetValue("edit", out var isEdit) && isEdit == "true")
        {
            successMessage = "Case updated successfully!";
            StateHasChanged();

            await Task.Delay(2000);
            successMessage = string.Empty;
            StateHasChanged();

            navManager.NavigateTo("/legalcases", forceLoad: false);
        }

        var authState = await _authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            loggedInUserId = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            isAdmin = user.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin");
        }

        await Task.Delay(500);

        if (query.TryGetValue("cases", out var caseVal))
        {
            searchcasecode = caseVal;
            IsClearbtndisable = false;
        }

        if (query.TryGetValue("tenant", out var tenantVal))
        {
            searchTermTenant = tenantVal;
            IsClearbtndisable = false;
        }

        if (query.TryGetValue("client", out var clientVal))
        {
            searchTermClient = clientVal;
            IsClearbtndisable = false;
        }

        if (query.TryGetValue("landlord", out var landlordVal))
        {
            searchTermLandLord = landlordVal;
            IsClearbtndisable = false;
        }
        CaseTypeList = await CaseTypeRepository.GetAllCaseType();


        await GetAllCases();
        spinnerservice.Hide();
    }



    private async Task GetAllCases()
    {
        var filters = new CaseFilterDto
        {
            CaseCode = searchcasecode,
            Client = searchTermClient,
            Tenant = searchTermTenant,
            LandLord = searchTermLandLord,
            ReasonHoldover = searchTermResonHoldover,
            ActionDate = searchTermDate,
            Status = searchTermStatus,
            CaseTypeId = selectedCaseTypeId

        };

        pagedcases = await _service.GetAllAsync(currentPage, pageSize, filters, loggedInUserId,
                isAdmin);


    }

    private async Task OnCaseTypeChanged()
    {
        currentPage = 1;
        await GetAllCases();
    }
    private async Task OnViewTypeChange()
    {
        IsGridView = !IsGridView;
    }



    public void navigatetoCase()
    {
        navManager.NavigateTo("/legalcase/create");
    }
    public async Task ClearAll()
    {
        if (!IsClearbtndisable)
        {
            searchcasecode = null;
            searchTermTenant = null;
            searchTermClient = null;
            searchTermLandLord = null;
            searchTermCaseType = null;
            searchTermResonHoldover = null;
            searchTermDate = null;
            searchTermStatus = null;

            await GetAllCases();

            IsClearbtndisable = true;
        }
    }

    private async Task OnSearchChanged(ChangeEventArgs e, string field)
    {
        var value = e.Value?.ToString() ?? string.Empty;
        _cts?.Cancel();
        _cts = new CancellationTokenSource();

        try
        {
            await Task.Delay(300, _cts.Token);

            switch (field)
            {
                case "CaseCode":
                    searchcasecode = value;
                    break;
                case "Client":
                    searchTermClient = value;
                    break;
                case "Tenant":
                    searchTermTenant = value;
                    break;
                case "Landlord":
                    searchTermLandLord = value;
                    break;
                case "ReasonHoldover":
                    searchTermResonHoldover = value;
                    break;
                case "ActionDate":
                    searchTermDate = value;
                    break;
                case "Status":
                    searchTermStatus = value;
                    break;
            }
            IsClearbtndisable = false;
            currentPage = 1; // new search ke time page reset ho jaye
            await GetAllCases();
        }
        catch (TaskCanceledException)
        {

        }
    }



    private async Task ChangePage(int page)
    {
        if (page >= 1 && page <= Math.Ceiling((double)pagedcases.TotalCount / pageSize))
        {
            currentPage = page;
            await GetAllCases();
        }
    }

    void FocusOnNavigate()
    {
        navManager.NavigateTo("/legalcases");
    }



    private bool StatusMatches(LegalCase c, string status)
    {
        return status.ToLower() switch
        {
            "active" => c.IsActive == true && !c.IsDeleted == false,
            "inactive" => !c.IsActive == false && c.IsDeleted == true,
            "archive" => !c.IsActive == false && !c.IsDeleted == false,
            _ => true
        };
    }



    private async Task SelectClient(CreateToClientDto client)
    {


        showClient = $"{client.FirstName} {client.LastName} - ({client.ClientCode})";
        ViewSearch = false;

    }

    private async Task SelectClientmodal()
    {
        AllClients = await _clientservice.GetAllClientsAsync(currentPage, pageSize, searchTerm, loggedInUserId, isAdmin);
        await clientModal.Show(AllClients.Items);
    }

    private async Task DeleteCase(Guid id, bool isAdmin)
    {
        spinnerservice.Show();

        bool isDeleted = await _service.DeleteAsync(id, isAdmin);
        if (isDeleted)
        {
            var filters = new CaseFilterDto
            {
                CaseCode = searchcasecode,
                Client = searchTermClient,
                Tenant = searchTermTenant,
                LandLord = searchTermLandLord,
                ReasonHoldover = searchTermResonHoldover,
                ActionDate = searchTermDate,
                Status = searchTermStatus
            };


            pagedcases = await _service.GetAllAsync(currentPage, pageSize, filters, loggedInUserId,
             isAdmin);
            StateHasChanged();
        }
        spinnerservice.Hide();
    }
}

